
<div class="flex-container">
	<div class="flex-item">
		<img src="https://s3-us-west-2.amazonaws.com/nortonphotos/photo-1.jpg" alt="norton-photo-1" style="width:175px;height:175px;" >

	</div>
	<div class="flex-item">
		<img src="https://s3-us-west-2.amazonaws.com/nortonphotos/photo-5.jpeg" alt="norton-photo-2" style="width:175px;height:175px;">
	</div>
	<div class="flex-item">
		<img src="https://s3-us-west-2.amazonaws.com/nortonphotos/photo-3.jpeg" alt="norton-photo-3" style="width:175px;height:175px;">
	</div>
	<div class="flex-item">
		<img src="https://s3-us-west-2.amazonaws.com/nortonphotos/photo-4.jpg" alt="norton-photo-4" style="width:175px;height:175px;">
	</div>
</div>
<div class="anouncements">
	<h2>Callin' All Screamin' Joe Neal fans....</h2>
		<p>If yer ditching' records, please consider us. We buy single copies, entire collections and anything in between.
		We are allways on the make for swingin' original rock n' roll/
		surf/garage/R&B/rockabilly/girl group 45's and LP's.</p>
		<p>nortonrecordsnyc@gmail.com</p><br>
</div>
